*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #777;
  background-color: #f6f6f6;
}

body{
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}

.app{
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 10px solid #f07;
}

.board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border: 10px solid #f07;
}

.card{
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 4px solid #000;
}

.card p{
  position: absolute;
  top: 0;
  left: 0;
}

.card img{
  width: 100%;
}